<div class="face-snap-card" *ngIf="faceSnap$ |async as faceSnap" [ngClass]="{snapped: textButton === 'unSnap' }" >
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <a routerLink="/facesnaps">Back</a>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <p>{{ faceSnap.description }}</p>
    <img [src]=faceSnap.imageUrl>
    <p>
        <button (click)="onAddSnap(faceSnap.id)">{{textButton}}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snap + ', 0)'}">🤌 {{ faceSnap.snap | currency: 'EUR' : 'code' }}</span>
      </p>
    <p *ngIf="faceSnap.location">{{faceSnap.location}}</p>  
    <span>422.467 | number</span>
</div>
