@font-face {
  font-family: "Wonder Boys";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Wonder-Boys.ttf")
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/bomberman_background.png");
  background-size: cover;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh; /* This ensures it takes 100% of the viewport height */
  margin: 0 auto; /* This centers the panel horizontally */
}

.card {
  height: 60%; /* This will make the card take up 40% of the height of its parent container */
  background-color: beige;
  border-radius: 4%;
  width: 100%;
  align-items: center;
  font-family: "Wonder Boys";
  padding: 8px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.title {
  width: 100;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.developpement {
  color:red;
  font-style: italic;
}

.card-content {
  width: 80%;
  font-size: large;
  text-align: center;
}