<form method="post" th:action="@{/saveEmployee}" th:object="${employee}">
    <input type="text" th:field="*{firstName}">
    <input type="text" th:field="*{lastName}">
    <input type="text" th:field="*{mail}">
    <input type="password" th:field="*{password}">
    <input type="hidden" th:field="*{id}">
    <button type="submit" c>Update</button>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
    </div>
</form>