<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Employee Web Application</title>
        <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet">
    </head>
    <body>
        <center>
            <h2 class="h2">Liste des employées</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Id</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${employees.empty}">
                        <td colspan="4">Aucun employée en base de données</td>
                    </tr>
                    <tr th:each="employee: ${employees}">
                        <td><span th:text="${employee.firstName}"> Prénom </span></td>
                        <td><span th:text="${employee.lastName}"> Nom </span></td>
                        <td><span th:text="${employee.id}"> Id </span></td>
                        <td><a class="btn btn-warning" th:href="@{/{id}/edit(id=${employee.id})}">Edit</a>  <a class="btn btn-danger" th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" th:href="@{/add}">Ajouter</a>
        </center>   
    </body>
</html>