<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto beige sticky-top panel">
            <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
                <a type="submit" routerLink="/" (click)="selectedpage = 'home'" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <h3>Bomberman</h3>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li>
                        <button (click)="selectedpage = 'new game'" class="btn btn-success">Nouvelle partie</button>
                    </li>
                </ul>
            </div>
            <div class="text-center endcard">
                <div class="card-body">
                  <button  (click)="selectedpage = 'profil'" class="btn btn-info">Profil</button>
                  <button (click)="logout()" class="btn btn-secondary">Logout</button>
                </div>
              </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <div *ngIf="selectedpage == 'profil'"><app-profil></app-profil></div>
            <div *ngIf="selectedpage == 'new game'"><app-new-game></app-new-game></div>
        </div>
    </div>
</div>