<div *ngIf="registerForm$ | async as user"></div>
<div class="form-card" *ngIf="errorMessage">
  <p>{{errorMessage}}</p>
</div>
<div class="form-card">
    <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" formControlName="username">
        </div>
        <div class="form-group" *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
          <p class="form-error">• Username is mandatory</p>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="form-group" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          <p class="form-error">• Password is mandatory</p>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email">
        </div>
        <div class="form-group" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
          <p *ngIf="registerForm.controls['email'].errors?.['required']"class="form-error">• Email is mandatory</p>
          <p *ngIf="registerForm.controls['email'].errors?.['email']"class="form-error">• Email malformated</p>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input id="image" type="text" formControlName="image">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onRegister()" [disabled]="registerForm.invalid">Register</button>
        </div>
      </form>
    </div>